.aqpLegend {
      line-height: 20px;
      font-size: 12px;
      width: 100px;
      color: #333333;
      padding: 6px 8px;
      background: white;
      background: rgba(255,255,255,1);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
      font-family: 'Titillium Web', sans-serif;
      }
	.aqpLegend i {
			width: 10px;
			height: 10px;
			float: left;
			margin-left: 8px;
			/* opacity: 0.9; */
			}
	.aqpLegend img {
			width: 10px;
			height: 10px;
			/* margin-right: 3px; */
			float: left;
			}
	.aqpLegend p {
			font-size: 10px;
			line-height: 10px;
			margin-left: 12px;
			}
